/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 3, 2014, 8:57:15 AM
    Author     : mlopez
*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\0000311}}
html {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\0000317}}
body {
  /* Margin bottom by footer height */
  margin-bottom: 1px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\0000325}}
a:link, a:visited {
  color: black; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\0000328}}
#header {
  position: absolute;
  float: left;
  background-color: #067AB4;
  color: whitesmoke;
  display: inline-block;
  width: 100%;
  position: fixed;
  top: 0px;
  overflow: hidden;
  z-index: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\0000339}}
  #header .visible {
    visibility: visible;
    -webkit-transition: all 1s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 1;
    height: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\0000346}}
  #header .invisible {
    visibility: hidden;
    -webkit-transition: all 1s ease-in-out;
    transition: all 0.2s ease-in-out;
    height: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\0000352}}
  #header #hamberger {
    float: left;
    z-index: 4;
    background-color: #067AB4; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\0000357}}
    #header #hamberger #ham {
      width: 60px;
      z-index: 999;
      cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\0000364}}
  #header #menu {
    position: absolute;
    float: right;
    right: 0;
    width: 80%;
    height: 100%;
    font-size: 200%;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 3;
    background-color: #067AB4; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\0000375}}
    #header #menu ul {
      width: 100%;
      list-style-type: none;
      margin: auto;
      padding: auto;
      display: block;
      white-space: nowrap;
      z-index: 2; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\0000383}}
      #header #menu ul li {
        width: 100%;
        height: 100%;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        margin-top: 10px;
        z-index: 2; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\0000396}}
.h-invisible {
  top: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\0000399}}
.h-visible {
  top: 60px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003102}}
#page {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003111}}
  #page #page-content {
    position: absolute;
    float: right;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    background-color: #28a4c9;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003125}}
#drawer {
  background-color: #7CC6FF;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-size: 12px;
  height: 100%;
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003131}}
  #drawer ul {
    display: block;
    padding: 40px 20px 0px 40px;
    list-style: none;
    opacity: 0.5;
    width: 100%;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003141}}
    #drawer ul a, #drawer ul a:link, #drawer ul a:visited {
      color: black;
      width: 100%;
      float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003147}}
    #drawer ul li {
      color: black;
      padding: 10px 20px 10px 20px;
      cursor: pointer;
      width: 100%;
      font-size: 2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003153}}
      #drawer ul li .mlist {
        float: left;
        margin: 5px;
        padding: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003159}}
    #drawer ul li:hover {
      background-color: #067AB4;
      border-radius: 10px 10px 10px 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003164}}
    #drawer ul li:before {
      font-family: "FontAwesome";
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: 12px;
      text-align: center;
      font-variant: normal;
      font-size: 2em;
      text-transform: none;
      line-height: 1em;
      float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003181}}
    #drawer ul li.sep {
      margin-top: 7px;
      padding-top: 14px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003189}}
#drawer.active {
  -webkit-transition: all 1s ease-in-out;
  transition: all 0.5s ease-in-out;
  visibility: visible;
  width: 300px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003195}}
#drawer.inactive {
  -webkit-transition: all 1s ease-in-out;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  width: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003202}}
#footer {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003213}}
.tile {
  display: inline-block;
  background-color: white;
  width: 400px;
  height: 300px;
  font-size: 500%;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003221}}
.panel-flip {
  float: left;
  font-size: 0.8em;
  perspective: 1000;
  position: relative;
  background: none repeat scroll 0 0 white; }

/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003232}}
.panel-flip .front {
  backface-visibility: hidden;
  background: none repeat scroll 0 0 #6B7077;
  float: none;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: inherit;
  z-index: 900;
  transform-origin: right top 1;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* -- transition is the magic sauce for animation -- */
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003257}}
.panel-flip .front.flip {
  z-index: 900;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003264}}
.panel-flip .back {
  background: none repeat scroll 0 0 silver;
  height: inherit;
  width: inherit;
  z-index: 1800;
  position: absolute;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-179deg);
  /* setting to 180 causes an unnatural-looking half-flip */
  transform: rotateY(-179deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* -- transition is the magic sauce for animation -- */
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003285}}
.panel-flip .back.flip:after {
  position: absolute;
  float: left;
  background: none repeat scroll 0 0 silver;
  height: inherit;
  width: inherit;
  z-index: 1900; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003294}}
.panel-flip .back.flip {
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg); }
