/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 3, 2014, 8:57:15 AM
    Author     : mlopez
*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\0000311}}
html {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\0000317}}
body {
  /* Margin bottom by footer height */
  margin-bottom: 1px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\0000326}}
a:link, a:visited {
  color: black; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\0000329}}
#header {
  position: absolute;
  float: left;
  background-color: #067AB4;
  color: whitesmoke;
  display: inline-block;
  width: 100%;
  position: fixed;
  top: 0px;
  overflow: hidden;
  z-index: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\0000341}}
  #header #hamberger {
    float: left;
    z-index: 4;
    background-color: #067AB4;
    width: 60px;
    height: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\0000348}}
    #header #hamberger #ham {
      margin: 15px;
      width: 30px;
      z-index: 999;
      cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\0000355}}
  #header #menu {
    position: absolute;
    float: right;
    right: 0;
    width: 80%;
    height: 100%;
    font-size: 200%;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 3;
    background-color: #067AB4; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\0000366}}
    #header #menu ul {
      width: 100%;
      list-style-type: none;
      margin: auto;
      padding: auto;
      display: block;
      white-space: nowrap;
      z-index: 2; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\0000374}}
      #header #menu ul li {
        width: 100%;
        height: 100%;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        margin-top: 10px;
        z-index: 2; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\0000386}}
.visible {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\0000393}}
.invisible {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\0000399}}
.h-invisible {
  top: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003102}}
.h-visible {
  top: 60px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003105}}
#page {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003114}}
  #page #page-content {
    position: absolute;
    float: right;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    background-color: blackb;
    width: 105%;
    height: 100%;
    padding-right: 15px;
    overflow-x: hidden;
    overflow-y: scroll; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003129}}
#drawer {
  background-color: #7CC6FF;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-size: 12px;
  height: 100%;
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003135}}
  #drawer ul {
    display: block;
    padding: 40px 20px 0px 40px;
    list-style: none;
    opacity: 0.5;
    width: 100%;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003145}}
    #drawer ul a, #drawer ul a:link, #drawer ul a:visited {
      color: black;
      width: 100%;
      float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003151}}
    #drawer ul li {
      color: black;
      padding: 10px 20px 10px 20px;
      cursor: pointer;
      width: 100%;
      font-size: 2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003157}}
      #drawer ul li .mlist {
        float: left;
        margin: 5px;
        padding: 5px;
        font-family: sans-serif; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003164}}
    #drawer ul li:hover {
      background-color: #067AB4;
      border-radius: 10px 10px 10px 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003169}}
    #drawer ul li:before {
      font-family: "FontAwesome";
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: 12px;
      text-align: center;
      font-variant: normal;
      font-size: 2em;
      text-transform: none;
      line-height: 1em;
      float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003186}}
    #drawer ul li.sep {
      margin-top: 7px;
      padding-top: 14px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003194}}
#drawer.active {
  -webkit-transition: all 1s ease-in-out;
  transition: all 0.5s ease-in-out;
  visibility: visible;
  width: 300px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003200}}
#drawer.inactive {
  -webkit-transition: all 1s ease-in-out;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  width: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003207}}
#footer {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003218}}
.panel-flip {
  float: left;
  font-size: 0.8em;
  perspective: 1000;
  position: relative;
  background: none repeat scroll 0 0 white; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/app\.scss}line{font-family:\00003229}}
.tile {
  height: 100px; }
