/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 3, 2014, 8:57:15 AM
    Author     : mlopez
*/
html {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 1px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed; }

a:link, a:visited {
  color: black; }

#header {
  position: absolute;
  float: left;
  background-color: #067AB4;
  color: whitesmoke;
  display: inline-block;
  width: 100%;
  position: fixed;
  top: 0px;
  overflow: hidden;
  z-index: 1; }
  #header .visible {
    visibility: visible;
    -webkit-transition: all 1s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 1;
    height: auto; }
  #header .invisible {
    visibility: hidden;
    -webkit-transition: all 1s ease-in-out;
    transition: all 0.2s ease-in-out;
    height: 0; }
  #header #hamberger {
    float: left;
    z-index: 4;
    background-color: #067AB4;
    width: 60px;
    height: 60px; }
    #header #hamberger #ham {
      margin: 15px;
      width: 30px;
      z-index: 999;
      cursor: pointer; }
  #header #menu {
    position: absolute;
    float: right;
    right: 0;
    width: 80%;
    height: 100%;
    font-size: 200%;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 3;
    background-color: #067AB4; }
    #header #menu ul {
      width: 100%;
      list-style-type: none;
      margin: auto;
      padding: auto;
      display: block;
      white-space: nowrap;
      z-index: 2; }
      #header #menu ul li {
        width: 100%;
        height: 100%;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        margin-top: 10px;
        z-index: 2; }

.h-invisible {
  top: 0px; }

.h-visible {
  top: 60px; }

#page {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey; }
  #page #page-content {
    position: absolute;
    float: right;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    background-color: blackb;
    width: 105%;
    height: 100%;
    padding-right: 15px;
    overflow-x: hidden;
    overflow-y: scroll; }

#drawer {
  background-color: #7CC6FF;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-size: 12px;
  height: 100%;
  width: 100%; }
  #drawer ul {
    display: block;
    padding: 40px 20px 0px 40px;
    list-style: none;
    opacity: 0.5;
    width: 100%;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    overflow: hidden; }
    #drawer ul a, #drawer ul a:link, #drawer ul a:visited {
      color: black;
      width: 100%;
      float: left; }
    #drawer ul li {
      color: black;
      padding: 10px 20px 10px 20px;
      cursor: pointer;
      width: 100%;
      font-size: 2em; }
      #drawer ul li .mlist {
        float: left;
        margin: 5px;
        padding: 5px;
        font-family: sans-serif; }
    #drawer ul li:hover {
      background-color: #067AB4;
      border-radius: 10px 10px 10px 10px; }
    #drawer ul li:before {
      font-family: "FontAwesome";
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: 12px;
      text-align: center;
      font-variant: normal;
      font-size: 2em;
      text-transform: none;
      line-height: 1em;
      float: left; }
    #drawer ul li.sep {
      margin-top: 7px;
      padding-top: 14px; }

#drawer.active {
  -webkit-transition: all 1s ease-in-out;
  transition: all 0.5s ease-in-out;
  visibility: visible;
  width: 300px; }

#drawer.inactive {
  -webkit-transition: all 1s ease-in-out;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  width: 0; }

#footer {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5; }

.tile {
  display: inline-block;
  background-color: white;
  width: 400px;
  height: 300px;
  font-size: 500%;
  text-align: center; }

.panel-flip {
  float: left;
  font-size: 0.8em;
  perspective: 1000;
  position: relative;
  background: none repeat scroll 0 0 white; }

/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.panel-flip .front {
  backface-visibility: hidden;
  background: none repeat scroll 0 0 #6B7077;
  float: none;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: inherit;
  z-index: 900;
  transform-origin: right top 1;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* -- transition is the magic sauce for animation -- */
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.panel-flip .front.flip {
  z-index: 900;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.panel-flip .back {
  background: none repeat scroll 0 0 silver;
  height: inherit;
  width: inherit;
  z-index: 1800;
  position: absolute;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-179deg);
  /* setting to 180 causes an unnatural-looking half-flip */
  transform: rotateY(-179deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* -- transition is the magic sauce for animation -- */
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.panel-flip .back.flip:after {
  position: absolute;
  float: left;
  background: none repeat scroll 0 0 silver;
  height: inherit;
  width: inherit;
  z-index: 1900; }

.panel-flip .back.flip {
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg); }

/*# sourceMappingURL=app.css.map */
