@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/flip\.scss}line{font-family:\000031}}
.flip {
  position: relative;
  -webkit-perspective: 800;
  perspective: 800px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/flip\.scss}line{font-family:\000036}}
  .flip.flipped .card {
    -webkit-transform: rotatex(-180deg);
    transform: rotatex(-180deg); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/flip\.scss}line{font-family:\0000311}}
  .flip.flipped[horizontal] .card {
    -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/flip\.scss}line{font-family:\0000316}}
  .flip .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/flip\.scss}line{font-family:\0000324}}
    .flip .card .face {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      z-index: 2; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/flip\.scss}line{font-family:\0000333}}
    .flip .card .front {
      position: absolute;
      z-index: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/flip\.scss}line{font-family:\0000338}}
    .flip .card .back {
      -webkit-transform: rotatex(-180deg);
      transform: rotatex(-180deg); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mlopez\/Documents\/NetBeansProjects\/AmazonFaces\/web\/scss\/flip\.scss}line{font-family:\0000344}}
  .flip[horizontal] .card .back {
    -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg); }
